$width-shortDesktop: 1440px;
$width-tableBig: 1260px;
$width-table: 744px;
$width-mobile: 430px;

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

button {
  cursor: pointer;
}

html {
  font-size: 0.833334vw;
  user-select: none;

  @media (max-width:$width-shortDesktop) {
    font-size: 1.11113vw;
  }

  @media (max-width:$width-tableBig) {
    font-size: 1.269841vw;
  }

  @media (max-width:$width-table) {
    font-size: 2.1538vw;
  }

  @media (max-width:$width-mobile) {
    font-size: 5vw;
  }
}

canvas {
  background-color: white;
}